<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Aidot\Webps\Api\ImageManagerInterface" type="Aidot\Webps\Model\ImageManager" />
    <type name="Magento\Framework\Filesystem\Directory\WriteInterface">
        <plugin name="aidot_webps_image_write" type="Aidot\Webps\Plugin\RenameFilePlugin" sortOrder="3" disabled="false"/>
    </type>
</config>