<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Webkul\SpinToWin\Ui\Component\MassAction\Status\Options">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="urlPath" xsi:type="string">spintowin/report/status</item>
                <item name="paramName" xsi:type="string">status</item>
                <item name="confirm" xsi:type="array">
                    <item name="title" xsi:type="string" translatable="true">Change  Status</item>
                    <item name="message" xsi:type="string" translatable="true">Are you sure to Change  Status?</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
